---
title: ICO
---
{% extends "layouts/_layout.html" %}

{% block content %}

  <div id="cursor"></div>
  <div id="aura"></div>

  <div class="toggle-btn link">
    <span class="one"></span>
    <span class="two"></span>
  </div>

  <header class="header">
    <h1>BEST ICO EVER</h1>
  </header>

  <nav class="pagination menu">
    <ul>
      <li><a data-gotoslide="1" href="#" class="link is-active"></a><span>supertitle</span></li>
      <li><a data-gotoslide="2" href="#" class="link"></a><span>Welcome</span></li>
      <li><a data-gotoslide="3" href="#" class="link"></a><span>Skills</span></li>
      <li><a data-gotoslide="4" href="#" class="link"></a><span>Projects</span></li>
      <li><a data-gotoslide="5" href="#" class="link"></a><span>Образование</span></li>
      <li><a data-gotoslide="6" href="#" class="link"></a><span>Works</span></li>
    </ul>
  </nav>

  <section class="section is-active"  data-slide="1">
    <h2 class="supertitle" data-stagger><span>1.</span>supertitle</h2>
    <p data-stagger>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at dignissimos dolore enim hic iusto mollitia
      numquam officia omnis provident. Cumque explicabo, tempore! Commodi culpa est facere laboriosam, obcaecati
      voluptas?
    </p>
    <p data-stagger>Adipisci dolor eos exercitationem fuga hic illo ipsam mollitia quia, rem voluptates. Amet aspernatur cum
      doloribus eius et fugit, ipsa iusto maxime minus, perferendis quasi quia ratione recusandae sequi voluptatibus.
    </p>
    <p data-stagger><img src="img/korgi.jpg" alt=""></p>
  </section>

  <section class="section about" id="about" data-slide="2">
    <h2 class="supertitle level-2" data-stagger><span>2.</span>Welcome</h2>
    <div class="card-block">
      <p class="info-block" data-stagger>Этот сайт был сделан в качестве портфолио.
        Здесь можно узнать об изученных мною технологий, опыте работы да и просто позалипать
      </p>
      <div class="card level-2" data-stagger>
        <div class="card-header level-3">workstrategy.ru</div>
        <div class="card-center">
          <div class="card-center-left">
            <div>Programmer</div>
            <div>Age: 25</div>
            <div>Experience: 3 years</div>

          </div>
          <div class="card-center-right">
            <img src="img/mr-robot.jpg" alt="">
          </div>
        </div>
        <div class="card-footer level-3">ROMAN KOCHEGAROV</div>
      </div>
      <div class="card card-2 level-1" data-stagger></div>
      <div class="card card-3" data-stagger></div>
    </div>
  </section>

  <section class="section"  data-slide="3">
    <h2 class="supertitle" data-stagger><span>3.</span>Skills</h2>
    <div class="part-info">
      <div data-stagger>
        <h3>Frontend:</h3>
        <div><span>01.2020</span>React / Angular</div>
        <div><span>01.2020</span>Redux / Redux Thunk, Reselect</div>
        <div><span>06.2020</span>TypeScript, JavaScript (ES6+)</div>
        <div><span>01.2020</span>Recompose</div>
        <div><span>2018</span>SCSS / SASS / CSS3 </div>
        <div><span>2017</span>Bootstrap / Ant Design</div>
        <div><span>2020</span>Webpack / Gulp</div>
        <div><span>06.2020</span>Jest / Enzyme</div>
      </div>
      <div data-stagger>
        <h3>Backend:</h3>
        <div><span>2015</span>Django</div>
        <div><span>2020</span>Nest</div>
        <div><span>2017</span>PostgreSql / MongoDB / SqlLite</div>
        <div><span>2018</span>WebSocket / Socket.io</div>
        <div><span>2018</span>Redis</div>
        <div><span>2020</span>Celery</div>
        <div><span>2018</span>Docker / Docker-compose</div>
      </div>
    </div>
  </section>

  <section class="section"  data-slide="4">
    <h2 class="supertitle" data-stagger><span>4.</span>Проекты</h2>
    <div class="part-info">
      <h3>FullStack KrisFlorist.ru</h3>
      <div data-stagger>
        <h3>Стек технологий:</h3>
        <div>React</div>
        <div>TypeScript</div>
        <div>Django</div>
        <div>PostgreSql</div>
        <div>Docker</div>
      </div>
      <div data-stagger>
        <h3>01.2020-06.2020 ИП Олейник.</h3>
        <div>Фронтенд-разработка исключительно на React/TypeScript. Бэкенд на Django.
          Разработка сайта с нуля, затем рефакторинг, переписывание существующего кода в соответствии
          с современными тенденциями в React. Деплой проекта с использованием Docker.
          Работа осуществлялась на удаленке и в качестве подработки к основной работе.</div>
        <p data-stagger><img src="img/korgi.jpg" alt=""></p>
      </div>
    </div>

    <div class="part-info">
      <h3>FullStack AutoRem.ru</h3>
      <div data-stagger>
        <h3>Стек технологий:</h3>
        <div>Angular</div>
        <div>Nest.js</div>
        <div>Mongo.DB</div>
        <div>TypeScript</div>
        <div>Webpack</div>
        <div>Docker</div>
      </div>
      <div data-stagger>
        <h3>06.2018 - AutoRem.ru</h3>
        <div>Фронтенд-разработка исключительно на Angular. Бэкенд на Nest.js с Mongo.DB.
          Разработка сайта с нуля. Деплой проекта с использованием Docker.
          Работа осуществлялась на удаленке и в качестве подработки к основной работе.</div>
        <p data-stagger><img src="img/korgi.jpg" alt=""></p>
      </div>
    </div>

    <div class="part-info">
      <h3>FullStack 06.2018 - WorkStrategy.ru</h3>
      <div data-stagger>
        <h3>Стек технологий:</h3>
        <div>Angular</div>
        <div>Nest.js</div>
        <div>Mongo.DB</div>
        <div>TypeScript</div>
        <div>Webpack</div>
        <div>Docker</div>
      </div>
      <div data-stagger>
        <h3>08.2020 - AutoRem.ru</h3>
        <div>Разработка сайта с нуля. Деплой проекта с использованием Docker.
          Работа осуществлялась на удаленке и в качестве подработки к основной работе.</div>
        <p data-stagger><img src="img/korgi.jpg" alt=""></p>
      </div>
    </div>

  </section>

  <section class="section"  data-slide="5">
    <h2 class="supertitle" data-stagger><span>5.</span>Образование</h2>
    <p data-stagger>2013-2017 ОмГУ им. Достоевского, г.Омск</p>
    <p data-stagger>2017 СибГути г. Новосибирск</p>
    <p data-stagger><img src="https://www.codewars.com/users/roman_kochegarov/badges/large" alt="">CodeWars</p>
    <p data-stagger>Habr</p>
    <p data-stagger>Books</p>
  </section>

  <section class="section"  data-slide="6">
    <h2 class="supertitle" data-stagger><span>6.</span>Работа</h2>
    <p data-stagger>02.2018-06.2018 ЦФТ г. Новосибирск Тестировщик</p>
    <p data-stagger>01.2019-08.2020 МБОУ Новосельская СОШ Учитель информатики</p>
    <p data-stagger>10.2020 - МБОУ "Лицей 22 "Надежда Сибири" Учитель информатики</p>
  </section>



<!--	{# variable example #}-->
<!--	<h1>{{title}}</h1>-->


<!--	{# partial example #}-->
<!--	{% include "partials/_header.html" %}-->

<!--	{# mixin example #}-->
<!--	{{mixins.icon('facebook')}}-->


<!--	{# data usage example #}-->
<!--		{% import "data/data.html" as tests %}-->

<!--		{% for test in tests.list %}-->
<!--		<li>{{test.title}}</li>-->
<!--		{% endfor %}-->
<!--	{# end of example #}-->

{% endblock %}
